

body {
    --color1: #F5EFE7;
    --color2: #D8C4B6;
    --color3: #4F709C;
    --color4: #213555;
    text-align: center;
    background-color: var(--color4);
    color: var(--color1);
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rock Salt', cursive;
}

.interface {
    background-color: var(--color3);
    display: flex;
    align-items: center;
    margin: 0;
    
    border-style: dashed;
    border-color: var(--color2);
}

.interface > div {
    flex: 1;
}

.interface > .winner {
    flex: 2;
    color: var(--color4)
}

.board {
    background-color: var(--color3);
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.board > div {
    height: 100px;
    width: 100px;
    margin: auto;
}

.reset {
    margin: auto
}

.left {
    border-right-style: dashed;
    border-right-color: var(--color1);
}

.right {
    border-left-style: dashed;
    border-left-color: var(--color1);
}

.top {
    border-bottom-style: dashed;
    border-bottom-color: var(--color1);
}

.bottom {
    border-top-style: dashed;
    border-top-color: var(--color1);
}