

body {
    --color1: #F5EFE7;
    --color2: #D8C4B6;
    --color3: #4F709C;
    --color4: #213555;
    text-align: center;
    background-color: var(--color4);
    color: var(--color1);
}

.interface {
    background-color: var(--color3);
    display: flex;
    align-items: center;
    margin: 0;
    
    border-style: dashed;
    border-color: var(--color2);
}

.interface > div {
    flex: 1;
}

.interface > .winner {
    flex: 2;
}

.board {
    background-color: var(--color3);
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.board > div {
    height: 50px;
    width: 50px;
    margin: auto;
}

.reset {
    margin: auto
}