body {
    text-align: center;
}

.interface {
    display: flex;
    align-items: center;
}

.interface > div {
    flex: 1;
}

.interface > .winner {
    flex: 2;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
}

.reset {
    margin: auto
}